<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>

<% if(user.id==profile_user.id){ %>
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" id="name" placeholder="Your Name" required>
        <input type="email" name="email" id="email" placeholder="Your Email" required>
        <input type="file" name="avatar" placeholder="upload" id="avatar">
        <input type="submit" value="submit">
    </form>
    <%}else{ %>

        <p>Name:
            <%= profile_user.name %>
        </p>
        <p>Email:
            <%= profile_user.email %>
        </p>
        <%}%>
            </p>
            <form action="/users/signout" method="post">
                <input type="submit" name="delete" value="sign out">

            </form>