.logo {
  font-size: xxx-large;
  margin-left: 1vh; }

#header {
  display: flex; }

header {
  background-color: aqua; }

.buttons {
  margin-left: auto;
  align-self: center; }

a {
  margin-left: 2vw;
  margin-right: 2vh; }
